.home-container {
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 2.2rem;
  margin: 20px 0 10px;
}

h2 {
  font-size: 1.4rem;
  margin: 20px 0 10px;
}

p {
  font-size: 1rem;
  margin-bottom: 10px;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.footer {
  margin-top: 40px;
  background: #e0e0e0;
  padding: 10px;
  font-size: 0.9rem;
}

.fecha-nac-field {
  width: 100%;
  margin-top: 16px;
}
.mat-datepicker-content {
  background-color: white !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000 !important;
}


.animar-input {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
