<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <h2>Bienvenido, {{ usuario }}</h2>
    <p>Selecciona una vista:</p>

    <!-- Botones directos -->
    <ion-button expand="block" color="tertiary" [routerLink]="['/mis-datos']">
  Mis Datos
</ion-button>

<ion-button expand="block" color="tertiary" [routerLink]="['/experiencia-laboral']">
  Experiencia Laboral
</ion-button>

<ion-button expand="block" color="tertiary" [routerLink]="['/certificaciones']">
  Certificaciones
</ion-button>


    

    <ion-button expand="block" color="danger" (click)="cerrarSesion()" style="margin-top: 30px;">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>
